@media(max-width: 975px){
    h2{
        font-size: 200%;
        line-height: 100%;
    }
    h1{
        font-size: 500%
    }
}
@media(max-width: 975px){
    .outer-menu .hamburger {
        top: -60px;
        left: 30px;
    }
  }